*{
    box-sizing: border-box;
}

body{
    margin:0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #161B22;
    text-align: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    margin:0;
    align-items: center;
}

input{
    background-color:#0D1117;
    border-radius: 10px;
    border:none;
    box-shadow: 0 5px  10px rgba(154, 160, 185, 0.05),
        0 15px 40px rgba(0,0,0,0.1);
    color: white;
    font-family: inherit;
    font-size: 1rem;
    padding: 1rem;
    margin-bottom: 2rem;
    width: 200px;
}

input::placeholder{
    color: #bbb;
}

input:focus{
    outline: none;
}

.card{
    background-color: #0D1117;
    display: flex;
    padding: 3rem;
    border-radius: 20px;
    box-shadow: 0 5px  10px rgba(154, 160, 185, 0.05),
        0 15px 40px rgba(0,0,0,0.1);
    color:white;
    max-width: 800px;
}

.profile-img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 10px solid #161B22;
}

.user-info{
    color:#eee;
    margin-left: 2rem;
    text-align: left;
}

.user-info h2{
    margin-top: 0;
}
a{
    color:inherit;
    text-decoration: none;
}

.user-info ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0%;
    max-width: 400px;
    margin-top: 30px;
}

.user-info li{
    display: flex;
    align-items: center;
}

.user-info ul li strong{
    font-size: 0.9rem;
    margin-left: 0rem;
}
.repo{
    background-color:#161b22;
    border-radius: 5px;
    display: inline-block;
    color:white;
    font-size:0.7rem;
    padding:0.25rem 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
}
